.closeBtn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.catImage {
    width: 44px;
    height: 44px;
}

.title {
    color: #F6B83D;

    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.actions {
    display: flex;
    gap: 20px;
}

.confirmBtn {
    padding: 14px 48px;
    border-radius: 30px;
    background: #F6B83D;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.48px;
    border: none;
    cursor: pointer;
    font-style: normal;
}

.cancelBtn {
    padding: 14px 24px;
    border-radius: 30px;
    background: #FFF4DF;
    color: #F6B83D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.48px;
    border: none;
    cursor: pointer;
}

.modalContent {
    border-radius: 30px;
    background: #FFF;
    padding: 60px;
    width: 466px;
    height: 434px;
    max-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closeIcon {
    width: 24px;
    height: 24px;
    stroke: #000000;
}

.catContainer {
    padding: 18px;
    background: #FFF4DF;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.message {
    color: #2B2B2A;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin-bottom: 28px;
}