.filtersContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 40px;
    border-radius: 30px;
    background: #FFF4DF;
    margin-bottom: 20px;
    margin-top: 40px;
    justify-content: center;
    width: 1216px;
}


.select {
    width: 200px;
    height: 48px;
    padding: 14px 0px 14px 14px;
    font-size: 16px;
    border: 1px solid rgba(245, 146, 86, 0.5);
    border-radius: 30px;
    background: #fff;
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.48px;
}

.locationSelect {
    flex: 1;
    min-width: 200px;
}


.resetButton:hover {
    background-color: #d17948;
}

.searchIcon {
    width: 18px;
    height: 18px;
    stroke: #262626;
    fill: none;
}

.filterRow {
    display: flex;
    gap: 16px;
    align-items: center;
}

.searchContainer {
    position: relative;
    width: 100%;
    /* или задайте фиксированную ширину */
}

.searchField {
    width: 100%;
    padding-right: 60px;
    /* Оставляем место для кнопок */
}

.searchButton,
.clearButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton {
    right: 15px;
    /* Позиция кнопки поиска */
}

.clearButton {
    right: 35px;
    /* Позиция кнопки очистки */
}

.checkboxLabel {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}


.checkboxLabel span {
    display: flex;
    padding: 14px 20px;
    border-radius: 30px;
    background: #ffffff;
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.48px;
    align-items: center;
    align-content: center;
    gap: 8px;
}


.customCheckbox {
    display: none;
}


.customCheckbox:checked+span {
    background: #F6B83D;
    color: #ffffff;
}

.filterRowContainer {
    display: flex;
    gap: 8px;

}

.filterRowContainer2 {
    display: flex;
    gap: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(38, 38, 38, 0.10);

}

.resetButton {
    padding: 14px 20px;
    border-radius: 30px;
    background: yellow;
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.48px;
}