.nav {
    display: flex;
    gap: 10px;

}

.navLink {
    text-decoration: none;
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.48px;
    border-radius: 30px;
    border: 1px solid rgba(38, 38, 38, 0.15);
    padding: 15px 20px;
}

.navLink:hover {
    color: #0070f3;
}

.homeNavLink {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.48px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.40);
}

.navLink:hover {
    color: rgb(222, 222, 36);
}

.active {
    border: 1px solid #f6b83d !important;

}