.nav {
    display: flex;
    gap: 2rem;
}

.navLink {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
}

.navLink:hover {
    color: #0070f3;
}

.homeNavLink {
    color: #988300 !important;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 2px 4px rgba(255, 64, 15, 0.1);
}

.navLink:hover {
    color: #FF400F !important;
}